extends layout

block content
  h1 Clientes 
  if dados
    form(action=`/clientes/update/${dados[0].id}` method="POST")
      div(class="mb-3")
        label(for="nome" class="form-label") Nome
        input(class="form-control" id="nome" aria-describedby="nome" name="nome" value=dados[0].nome) 
      div(class="mb-3")|
        label(for="sobrenome" class="form-label") Sobrenome 
        input(class="form-control" id="sobrenome" aria-describedby="sobrenome" name="sobrenome" value=dados[0].sobrenome)
      div(class="mb-3")
        label(for="email" class="form-label") Email 
        input(class="form-control" type="email" id="email" aria-describedby="email" name="email" value=dados[0].email)
      div(class="mb-3")
        label(for="idade" class="form-label") Idade 
        input(class="form-control" type="number" id="idade" aria-describedby="idade" name="idade" value=dados[0].idade)
      div(class="d-flex gap-2")
        a(href='/clientes' class="btn btn-secondary" tabindex="-1" role="button")  Voltar    
        button(type="submit" class="btn btn-success") Alterar